fastapi>=0.68.0,<0.69.0
pydantic>=1.8.0,<2.0.0
uvicorn>=0.15.0,<0.16.0
pydantic==2.6.3
pydantic-core==2.16.3
pydantic-extra-types==2.5.0
pydantic-settings==2.2.1
SQLAlchemy
typing-extensions
typing-inspect

